* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

:root {
  --color-primary1: #222629;
  --color-primary2: var(--color-primary1);
  --color-secondary1: white;
  --color-secondary2: var(--color-secondary1);
  --color-accent1: #85c846;
  --color-accent2: var(--color-accent1);
  --font-headings: "Lato", sans-serif;
  --font-buttons: "Francois One", sans-serif;

  /* Notice you can do this: --color-accent2: var(--color-accent1);*/
}

img {
  width: 100%;
}

html {
  background-color: var(--color-primary1);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 80vh;
}
.wrap {
  width: 80%;
  overflow-wrap: break-word;
}

h1 {
  font-size: 10rem;
}

h2 {
  font-size: 4rem;
}

h1,
h2,
p {
  color: var(--color-secondary1);
  font-family: var(--font-headings);
}

.green {
  color: var(--color-accent1);
}

.image {
  background-image: url("website-page-web-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 20rem;
  min-width: 29rem;
  margin: 1%;
}

#intro {
  display: flex;
  justify-content: center;
  padding: 5%;
  min-height: 60vh;
  align-items: center;
  min-width: 20rem;
}

#intro div {
  max-width: 50%;
}

.graphics {
  background-image: url("website-page-web-svgrepo-com.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 20rem;
  min-width: 29rem;
  margin: 1%;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  justify-content: center;
  margin: 5%;
  min-width: 20rem;
  gap: 10rem;
  overflow-wrap: break-word;
}
nav {
  display: flex;
  font-family: var(--font-headings);
  min-width: 100%;
  min-height: 4rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav li {
  display: inline-block;
  margin: 0px 2.5rem;
}

.logo {
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 4rem;
  min-width: 4rem;
}

.test {
  max-width: 70%;
}

a {
  margin: 1%;
  text-decoration: none;
  color: var(--color-secondary1);
}

a:hover {
  color: var(--color-accent1);
}

button {
  background-color: var(--color-accent1);
  font-family: var(--font-buttons);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 4.2%;
  min-height: 2.5rem;
  min-width: 5.5rem;
  margin-top: 3%;
}

button:hover {
  background-color: #a7ff59;
  color: black;
  border-radius: 20px;
  padding: 4.2%;
  min-height: 2.5rem;
  min-width: 5.5rem;
}
#end {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  min-height: 80vh;
  align-items: center;
}

footer {
  padding: 5%;
  background-color: var(--color-primary1);
  text-align: center;
}

footer p {
  color: var(--color-accent1);
}

#project {
}

/* Mobile */
@media (max-width: 750px) {
  header {
    display: flex;
    justify-content: space-around;
    padding: 5%;
    min-height: 80vh;
    flex-wrap: wrap;
  }

  nav {
    display: flex;
    padding: 0%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  nav a {
    margin-top: 5%;
  }

  ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
  #intro {
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 10rem;
  }

  #intro div {
    max-width: 100%;
  }

  .graphics {
    background-image: url("website-page-web-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 12rem;
    min-width: 10rem;
    margin: 1%;
  }
  .test {
    max-width: 100%;
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    min-width: 11rem;
    margin: 0%;
    gap: 3rem;
  }

  #project {
    margin-top: 29%;
  }

  .image {
    background-image: url("website-page-web-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 12rem;
    min-width: 10rem;
    margin: 1%;
  }

  #end {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    min-height: 80vh;
    justify-content: baseline;
  }
}
